alias ll='ls -alFh'
alias la='ls -A'
alias l='ls -CF'
alias ls='ls --color=auto -t'
alias diff='diff --color=auto'
alias mv='mv -i'
alias cp='cp -i'

alias vim='nvim'
alias his='history -i 0'
alias grep='rg --hidden'
alias h='his | rg'
alias top='htop -u `whoami`'
alias duu='du -d 1 -h | sort -hr'
alias dc='docker-compose'
alias lg='lazygit'
alias m='mimir'
{{ if and .is_linux .is_gui -}}
alias clip='xclip -selection clipboard'
{{- else if .is_macos -}}
alias clip='pbcopy'
{{- end }}

ptree() {
    local pid=$1
    while [ "$pid" -ne 0 ]; do
        ps -p "$pid" -o pid=,ppid=,command=
        pid=$(ps -p "$pid" -o ppid= | tr -d ' ')
    done
}

# function j {
#     local IFS=$'\t\n'
#     local tempfile="$(mktemp -t tmp.XXXXXX)"
#     local cmd=(
# 		$HOME/.zsh/scripts/joshuto.sh
# 		--output-file $tempfile
# 	)
#     ${cmd[@]} "$@"
#     if [[ -f "$tempfile" ]] && [[ "$(cat -- "$tempfile")" != "$(echo -n `pwd`)" ]]; then
#         cd -- "$(cat "$tempfile")" || return
#     fi
#     command rm -f -- "$tempfile" 2>/dev/null
# }
# function jo { j }

function j() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	if cwd="$(command cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
		builtin cd -- "$cwd"
	fi
	rm -f -- "$tmp"
}


# Python 虚拟环境管理
# alias mkvenv="python3 -m venv venv"
alias mkvenv="uv venv"
alias pip="uv pip"
alias pip3="uv pip"
function activate() {
    if [ -d ".venv" ]; then
        source .venv/bin/activate
    elif [ -d "venv" ]; then
        source venv/bin/activate
    else
        echo "未找到虚拟环境目录 (.venv 或 venv)"
        return 1
    fi
}

# git 字数检查
alias gitwa='git diff --word-diff=porcelain  | grep -e "^+[^+]" | wc -m | xargs'
alias gitwd='git diff --word-diff=porcelain  | grep -e "^-[^-]" | wc -m | xargs'
alias gitwdd='git diff --word-diff=porcelain | grep -e"^+[^+]" -e"^-[^-]"|sed -e's/.//'|sort|uniq -d|wc -m|xargs'
alias gitw='echo $(($(gitwa) - $(gitwd)))'

# Ctrl + W: 精细删除（遇到 / 会停下）
backward-kill-word() {
    local WORDCHARS='*?_-.[]~=&;!#$%^(){}<>'
    zle .backward-kill-word
}
zle -N backward-kill-word
bindkey '^W' backward-kill-word

# Ctrl + Backspace: 一口气删到空格为止, 默认的 Zsh 行为
backward-kill-whole-word() {
    local WORDCHARS='*?_-.[]~=/&;!#$%^(){}<>'
    zle .backward-kill-word
}
zle -N backward-kill-whole-word
# 绑定一个特殊的序列, 与 alacritty 配合
bindkey '^[^?' backward-kill-whole-word

{{/* MacOS */ -}}
{{ if .is_macos -}}
function nvm_enable() {
    export NVM_DIR="$HOME/.nvm"
    [ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"  # This loads nvm
    [ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion
}
{{- end }}

{{/* 工作电脑 */ -}}
{{ if eq .machine_profile "work" -}}
alias day='cd ~/daily-note; vim main.md'

function pkg() {
    JAVA_HOME="/Users/rqdmap/Library/Java/JavaVirtualMachines/corretto-1.8.0_452/Contents/Home" PATH=$JAVA_HOME"/bin":$PATH mvn clean package -DskipTests
}

n() {
    "$@"
    local code=$?
    local cmd="$*"

    if [ ${#cmd} -gt 40 ]; then
        cmd="${cmd:0:37}..."
    fi

    if [ $code -eq 0 ]; then
        terminal-notifier -message "✅ 命令执行成功" -title "\$ $cmd" -sound Funk
    else
        terminal-notifier -message "❌ 命令执行失败" -title "\$ $cmd" -sound Basso
    fi
    return $code
}
{{- end }}

{{/* Arch Linux */ -}}
{{ if .is_arch -}}
alias showpkg="expac --timefmt='%Y-%m-%d %T' '%l\t%n' | sort"

# archlinux 的 nvm 安装位置
function nvm_enable() {
	source /usr/share/nvm/init-nvm.sh
}
{{- end }}

{{/* 家用电脑 */ -}}
{{ if eq .machine_profile "home" -}}
alias logisim='_JAVA_AWT_WM_NONREPARENTING=1 nohup java -jar /home/rqdmap/Applications/Logisim-ITA.jar > /dev/null 2>&1 &!; exit'
{{- end }}

{{- /* vim: set ft=zsh: */}}
