{{- $active := .opencode.model_profiles.active -}}
{{- $profile := index .opencode.model_profiles $active -}}
{
  "$schema": "https://raw.githubusercontent.com/code-yeongyu/oh-my-opencode/refs/heads/dev/assets/oh-my-opencode.schema.json",
  "sisyphus_agent": {
    "disabled": false,
    "default_builder_enabled": true,
    "planner_enabled": true,
    "replace_plan": true
  },
  "disabled_mcps": ["context7"],
  "disabled_hooks": ["claude-code-hooks"],
  "agents": {{ (index $profile "agents" | default dict) | toPrettyJson | indent 2 | trim }},
  "categories": {{ (index $profile "categories" | default dict) | toPrettyJson | indent 2 | trim }}
}

{{- /* vim: set ft=gotmpl: */}}
