{{- $active := .opencode.model_profiles.active -}}
{{- $profile := index .opencode.model_profiles $active -}}
{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": true,
  "default_agent": "scout",
  "agent": {
    "build": {
      "disable": true
    }
  },
  "model": "{{ $profile.default_model }}",
  "provider": {
{{- range $pIndex, $provider := .opencode.providers }}
  {{- if $pIndex }},{{ end }}
    "{{ $provider.id }}": {
      "npm": "{{ $provider.type }}",
      "name": "{{ $provider.name }}",
      "options": {
        "baseURL": "{{ $provider.base_url }}",
        "apiKey": "{{ $provider.api_key }}"
      },
      "models": {
        {{- range $mIndex, $model := $provider.models }}
        {{- if $mIndex }},{{ end }}
        "{{ $model.id }}": {
          "name": "{{ $model.name }}"
          {{- if hasKey $model "limit" }},
          "limit": {{ $model.limit | toPrettyJson | indent 10 | trim }}
          {{- end }}
          {{- if hasKey $model "modalities" }},
          "modalities": {{ $model.modalities | toPrettyJson | indent 10 | trim }}
          {{- end }}
          {{- if hasKey $model "options" }},
          "options": {{ $model.options | toPrettyJson | indent 10 | trim }}
          {{- end }}
        }
        {{- end }}
      }
    }
{{- end }}
  },
  "permission": {
    "bash": {
      "*": "allow",
      "git *": "allow"
    },
    "edit": "allow",
    "write": "allow",
    "read": "allow",
    "grep": "allow",
    "glob": "ask",
    "list": "allow",
    "patch": "allow",
    "skill": "ask",
    "todowrite": "allow",
    "todoread": "allow",
    "webfetch": "allow"
  },
  "plugin": [
    "oh-my-opencode@latest"
  ]
}

{{- /* vim: set ft=jsonc: */}}
