{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": false,
  "tui": {
    "scroll_speed": 5
  },
  "disabled_providers": ["claude-proxy"],
  "provider": {
    "claude-proxy": {
      "npm": "@ai-sdk/anthropic",
      "name": "Claude 中转",
      "options": {
        "baseURL": "{{ .provider.claudeProxy.base_url }}",
        "apiKey": "{{ .provider.claudeProxy.api_key }}"
      },
      "models": {
        "claude-sonnet-4-5-20250929": {
          "name": "sonnet-4.5"
        },
        "claude-haiku-4-5-20251001": {
          "name": "haiku-4.5"
        }
      }
    }
{{- if eq .machine_profile "work" }},
    "ideaLab": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "IdeaLab",
      "options": {
        "baseURL": "{{ .provider.ideaLab.base_url }}",
        "headers": {
          "Authorization": "Bearer {{ .provider.ideaLab.api_key }} "
        }
      },
      "models": {
        "qwen3-coder-plus": {
          "name": "Qwen3-Coder-Plus"
        },
        "qwen3-max": {
          "name": "Qwen3-Max"
        }
      }
    }
{{- end }}
  },
  "mcp": {
    "tavily-mcp": {
      "type": "remote",
      "url": "https://mcp.tavily.com/mcp/?tavilyApiKey={{ .mcp.tavily.token }}"
    },
    "context7": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@upstash/context7-mcp",
        "--api-key",
        "{{ .mcp.context7.token }}"
      ]
    },
    "github": {
      "type": "remote",
      "url": "https://api.githubcopilot.com/mcp",
      "headers": {
        "Authorization": "Bearer {{ .mcp.github.token }}"
      }
    },
    "desktop-commander": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@wonderwhy-er/desktop-commander@latest"
      ]
    },
    "sequential-thinking": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@modelcontextprotocol/server-sequential-thinking"
      ]
    },
    "firecrawl-mcp": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "firecrawl-mcp"
      ],
      "environment": {
        "FIRECRAWL_API_KEY": "{{ .mcp.firecrawl.token }}"
      }
    }
  },
  "command": {
    "commit": {
      "template": "!`cat ~/.config/opencode/opencode-config/command/commit.md`",
      "description": "智能生成语义化 Git 提交信息",
{{ if eq .machine_profile "work" }}      "model": "ideaLab/qwen3-coder-plus",
{{- end }}
      "agent": "build"
    }
  },
  "tools": {
    "bash": true,
    "edit": true,
    "write": true,
    "read": true,
    "grep": true,
    "glob": true,
    "list": true,
    "patch": true,
    "todowrite": true,
    "todoread": true,
    "webfetch": true
  },
  "permission": {
    "bash": {
      "git commit": "ask"
    }
  },
  "theme": "gruvbox",
  "keybinds": {
    "leader": "ctrl+x",
    "app_exit": "ctrl+c,<leader>q",
    "editor_open": "<leader>e",
    "theme_list": "none",
    "sidebar_toggle": "<leader>b",
    "username_toggle": "none",
    "status_view": "<leader>s",
    "session_export": "<leader>x",
    "session_new": "<leader>n",
    "session_list": "<leader>l",
    "session_timeline": "<leader>g",
    "session_share": "none",
    "session_unshare": "none",
    "session_interrupt": "escape",
    "session_compact": "<leader>c",
    "session_child_cycle": "none",
    "session_child_cycle_reverse": "none",
    "messages_page_up": "ctrl+b",
    "messages_page_down": "ctrl+f",
    "messages_half_page_up": "",
    "messages_half_page_down": "",
    "messages_first": "none",
    "messages_last": "none",
    "messages_copy": "<leader>y",
    "messages_undo": "<leader>u",
    "messages_redo": "<leader>r",
    "messages_last_user": "none",
    "messages_toggle_conceal": "<leader>h",
    "model_list": "<leader>m",
    "model_cycle_recent": "",
    "model_cycle_recent_reverse": "",
    "command_list": "ctrl+p",
    "agent_list": "<leader>a",
    "agent_cycle": "tab",
    "agent_cycle_reverse": "shift+tab",
    "input_clear": "none",
    "input_paste": "none",
    "input_submit": "enter",
    "input_newline": "shift+enter,ctrl+j",
    "history_previous": "up",
    "history_next": "down"
  }
}
