{
  "auto_preview": true,
  "theme": "gruvbox",
  "export_dir": "~/mimir-exports",
  "layout": {
    "ratio": [1, 4, 1],
    "tab_order": ["sessions", "ideas", "tags", "stats"]
  },
  "trilium_url": "{{ .trilium.url }}",
  "trilium_token": "{{ .trilium.token }}",
  "trilium_parent_note_id": "{{ .trilium.parent_note_id }}"
}

{{- /* vim: set ft=toml: */}}
