{{- $uses_skhd := and .has_tiling_wm .is_macos -}}
{{ if $uses_skhd -}}
.load "{{ .chezmoi.homeDir }}/.config/skhd/apps.skhdrc"
.load "{{ .chezmoi.homeDir }}/.config/skhd/generated.skhdrc"
{{ else if eq .machine_profile "home" -}}
# Linux sxhkd-based config; skhd not used
{{ end -}}

{{- /* vim: set ft=conf: */}}
