# Static skhd app launchers. Dynamic/generated bindings are loaded separately.
{{ if eq .machine_profile "work" -}}
ctrl + alt - t : open -na alacritty
{{ else -}}
ctrl + alt - t : open -na wezterm
{{ end -}}

alt - return : open -na "$(ls /Applications | choose)"
