priority 100

snippet enc "加密文档"
<!--more-->
{{% hugo-encryptor "${1:P@ssW0rd}" %}}
${0:${VISUAL}}
{{% /hugo-encryptor %}}
endsnippet


snippet fig "居中图片"
<div align="center">
<img src=/asserts/images/${1:${VISUAL}} style="zoom:${2:100}%">
</div>
endsnippet

snippet more 
<!--more-->
endsnippet
