[Unit]
Description=FRP Client Service, connect to ZGO VPS
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
EnvironmentFile=%h/.config/frp-to-vps/secret.env
ExecStart=/usr/bin/env frpc -c %h/.config/frp-to-vps/zgo.toml

[Install]
WantedBy=default.target
