# [colors.primary]
# background = "#ffffff"  # 纯白色背景
# foreground = "#000000"  # 纯黑色文字，确保最大清晰度
#
# [colors.normal]
# black = "#000000"
# red = "#404040"
# green = "#505050"
# yellow = "#606060"
# blue = "#707070"
# magenta = "#808080"
# cyan = "#909090"
# white = "#e0e0e0"
#
# [colors.bright]
# black = "#303030"
# red = "#484848"
# green = "#585858"
# yellow = "#686868"
# blue = "#787878"
# magenta = "#888888"
# cyan = "#989898"
# white = "#ffffff"


[colors.primary]
background = "#282828"
bright_foreground = "#fbf1c7"
dim_foreground = "#a89984"
foreground = "#ebdbb2"

[colors.normal]
black = "#282828"
blue = "#458588"
cyan = "#689d6a"
green = "#98971a"
magenta = "#b16286"
red = "#cc241d"
white = "#a89984"
yellow = "#d79921"

[colors.bright]
black = "#928374"
blue = "#83a598"
cyan = "#8ec07c"
green = "#b8bb26"
magenta = "#d3869b"
red = "#fb4934"
white = "#ebdbb2"
yellow = "#fabd2f"

[colors.dim]
black = "#32302f"
blue = "#076678"
cyan = "#427b58"
green = "#79740e"
magenta = "#8f3f71"
red = "#9d0006"
white = "#928374"
yellow = "#b57614"

# [colors.primary]
# background = "#001100"
# foreground = "#00bb00"
#
# [colors.normal]
# black= "#001100"
# red= "#007700"
# green= "#00bb00"
# yellow= "#007700"
# blue= "#009900"
# magenta= "#00bb00"
# cyan= "#005500"
# white= "#00bb00"
#
# [colors.bright]
# black= "#007700"
# red= "#007700"
# green= "#00bb00"
# yellow= "#007700"
# blue= "#009900"
# magenta= "#00bb00"
# cyan= "#005500"
# white= "#00ff00"


[colors.selection]
background = "CellForeground"
text = "CellBackground"

[colors.vi_mode_cursor]
cursor = "CellForeground"
text = "CellBackground"

[colors.cursor]
cursor = "CellForeground"
text = "CellBackground"

[cursor.style]
shape = "Block"
blinking = "Off"

[font]
{{ if eq .machine_profile "work" -}}
size = 16
{{- else if eq .machine_profile "home" -}}
size = 13
{{- else -}}
size = 13   -- 默认值
{{- end }}

[font.normal]
family = "Iosevka Nerd Font"

[font.bold]
family = "Iosevka Nerd Font"
style = "Bold"

[font.bold_italic]
family = "Iosevka Nerd Font"
style = "Bold Italic"

[font.italic]
family = "Iosevka Nerd Font"
style = "Italic"

[keyboard]
bindings = [
  { key = "Slash", mods = "Control", chars = "\u001F" },
  { key = "Key1", mods = "Control", action = "ScrollLineUp" },
  { key = "Key2", mods = "Control", action = "ScrollLineDown" },

  { key = "C", mods = "Control|Shift", action = "Copy" },
  { key = "V", mods = "Control|Shift", action = "Paste" },

  { key = "A", mods = "Alt", chars = "\u001Ba" },
  { key = "B", mods = "Alt", chars = "\u001Bb" },
  { key = "C", mods = "Alt", chars = "\u001Bc" },
  { key = "D", mods = "Alt", chars = "\u001Bd" },
  { key = "E", mods = "Alt", chars = "\u001Be" },
  { key = "F", mods = "Alt", chars = "\u001Bf" },
  { key = "G", mods = "Alt", chars = "\u001Bg" },
  { key = "H", mods = "Alt", chars = "\u001Bh" },
  { key = "I", mods = "Alt", chars = "\u001Bi" },
  { key = "J", mods = "Alt", chars = "\u001Bj" },
  { key = "K", mods = "Alt", chars = "\u001Bk" },
  { key = "L", mods = "Alt", chars = "\u001Bl" },
  { key = "M", mods = "Alt", chars = "\u001Bm" },
  { key = "N", mods = "Alt", chars = "\u001Bn" },
  { key = "O", mods = "Alt", chars = "\u001Bo" },
  { key = "P", mods = "Alt", chars = "\u001Bp" },
  { key = "Q", mods = "Alt", chars = "\u001Bq" },
  { key = "R", mods = "Alt", chars = "\u001Br" },
  { key = "S", mods = "Alt", chars = "\u001Bs" },
  { key = "T", mods = "Alt", chars = "\u001Bt" },
  { key = "U", mods = "Alt", chars = "\u001Bu" },
  { key = "V", mods = "Alt", chars = "\u001Bv" },
  { key = "W", mods = "Alt", chars = "\u001Bw" },
  { key = "X", mods = "Alt", chars = "\u001Bx" },
  { key = "Y", mods = "Alt", chars = "\u001By" },
  { key = "Z", mods = "Alt", chars = "\u001Bz" },

  { key = "A", mods = "Alt|Shift", chars = "\u001BA" },
  { key = "B", mods = "Alt|Shift", chars = "\u001BB" },
  { key = "C", mods = "Alt|Shift", chars = "\u001BC" },
  { key = "D", mods = "Alt|Shift", chars = "\u001BD" },
  { key = "E", mods = "Alt|Shift", chars = "\u001BE" },
  { key = "F", mods = "Alt|Shift", chars = "\u001BF" },
  { key = "G", mods = "Alt|Shift", chars = "\u001BG" },
  { key = "H", mods = "Alt|Shift", chars = "\u001BH" },
  { key = "I", mods = "Alt|Shift", chars = "\u001BI" },
  { key = "J", mods = "Alt|Shift", chars = "\u001BJ" },
  { key = "K", mods = "Alt|Shift", chars = "\u001BK" },
  { key = "L", mods = "Alt|Shift", chars = "\u001BL" },
  { key = "M", mods = "Alt|Shift", chars = "\u001BM" },
  { key = "N", mods = "Alt|Shift", chars = "\u001BN" },
  { key = "O", mods = "Alt|Shift", chars = "\u001BO" },
  { key = "P", mods = "Alt|Shift", chars = "\u001BP" },
  { key = "Q", mods = "Alt|Shift", chars = "\u001BQ" },
  { key = "R", mods = "Alt|Shift", chars = "\u001BR" },
  { key = "S", mods = "Alt|Shift", chars = "\u001BS" },
  { key = "T", mods = "Alt|Shift", chars = "\u001BT" },
  { key = "U", mods = "Alt|Shift", chars = "\u001BU" },
  { key = "V", mods = "Alt|Shift", chars = "\u001BV" },
  { key = "W", mods = "Alt|Shift", chars = "\u001BW" },
  { key = "X", mods = "Alt|Shift", chars = "\u001BX" },
  { key = "Y", mods = "Alt|Shift", chars = "\u001BY" },
  { key = "Z", mods = "Alt|Shift", chars = "\u001BZ" },
]

[mouse]
hide_when_typing = true

[window.padding]
x = 20
y = 20

[window]
decorations = "None"
